a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

body {
     text-align: center;
 }

h1 {
    color: #0000FF;
}

h2 {
    color: #FF0000;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}
* {
    box-sizing: border-box;
}
.menu {
    float: left;
    width: 20%;
}
.menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
}
 html {
     background: url(/resources/images/img2.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }
