<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blood Pressure Diary</title>
<!--    <link rel="stylesheet" type="text/css" href="../static/resources/createUser.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/resources/addMeasurement.css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/createUser.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/addMeasurement.css}"/>
</head>
<body>
<div class="container">
    <div class="form-container">

        <h1>Add Measurement</h1>
        <form th:action="@{/addMeasurement}" th:object="${measurement}" method="POST">
            <div>
                <label>Date:</label>
                <input type="date" class="data-input" th:field="*{date}"/>
            </div>
            <div>
                <label>Time:</label>
                <input type="time" class="data-input" th:field="*{time}"/>
            </div>
            <div>
                <label>RR:</label>
                <input type="text" class="data-input" th:field="*{rr}"/>
            </div>
            <div>
                <label>Pulse:</label>
                <input type="text" class="data-input" th:field="*{pulse}"/>
            </div>
            <div>
                <label>Description:</label>
                <input type="text" class="data-input" th:field="*{description}"/>
            </div>
            <div class="buttons">
                <input type="submit" class="form-submit-button" value="Add"/>
                <a href="index" class="form-submit-button">Main menu</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>