<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Blood Pressure Diary</title>
    <link rel="stylesheet" href="../static/resources/errorStatement.css">
<!--        <link rel="stylesheet" type="text/css" th:href="@{/resources/errorStatement.css}"/>-->
</head>
<body>
<div class="container">
    <img src="../static/resources/images/false.svg" alt="">
    <div class="content">
        <h1>cannot find user with given username!!</h1>
        <p>It is very important for the customer to pay attention to the adipiscing process. From assuming something the consequences of the body when we lead the pains of choosing it and accepting it will explain it in, so the just born does not bear anything that they are.</p>
        <a href="addUser">BACK</a>
    </div>
</div>
</body>
</html>