<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blood Pressure Diary</title>
    <link rel="stylesheet" type="text/css" href="../static/resources/main.css">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/resources/main.css}"/>-->
</head>
<body>


<div class="container">
    <div class="logout">
        <form th:action="@{/logout}" method="post">
            <button type="submit">
                <span>Logout</span>
                <img src="../static/resources/images/logout.svg" alt="logout">
            </button>
        </form>
    </div>
    <header>
        <h1>Arterial Pressure Measurement Logbook</h1>
        <!--    <img src="../static/resources/images/stethoscope.svg" alt="stethoscope">-->
        <nav>
            <div class="menuitem">
                <a href="/addMeasurement">Dodaj pomiar</a>
            </div>
            <div class="menuitem">
                <a href="/setDateRange">Pokaż pomiary według dat</a>
            </div>
            <div class="menuitem">
                <a href="/measurements">Pokaż wszystkie pomiary</a>
            </div>
        </nav>
    </header>
</div>



<!--<div class="w3-cell-row">-->
<!--    <div class="w3-cell w3-container" style="text-align: center">-->
<!--        <div class="menuitem"><a href="/addMeasurement">Dodaj pomiar</a></div>-->
<!--        <div class="menuitem"><a href="/setDateRange">Pokaż pomiary według dat</a></div>-->
<!--        <div class="menuitem"><a href="/measurements">Pokaż wszystkie pomiary</a></div>-->
<!--    </div>-->
<!--</div>-->



</body>

</html>