<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blood Pressure Diary</title>
    <link rel="stylesheet" type="text/css" href="../static/resources/style.css">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}">-->
</head>
<body>
<div class="container">
    <aside>
        <header>
            <h2>Arterial Pressure Measurement Logbook</h2>
        </header>


        <div th:if="${param.logout}" class="popup-statement">
            <h3>
                Wylogowano.
            </h3>
        </div>
        <div th:if="${param.error}" class="popup-statement error">
            <h3>
                Błędna nazwa lub hasło.
            </h3>
        </div>
    </aside>
    <main>
        <form th:action="@{/login}" method="post">
            <div class="input-text"><label> User Name : </label><input type="text" name="username"/> </div>
            <div class="input-text"><label> Password:</label> <input type="password" name="password"/> </div>
            <div class="form-submit-button"><input type="submit" value="Login"/></div>
            <div class="form-submit-button"><a th:href="@{/addUser}">Załóż konto</a></div>
        </form>
    </main>
</div>

</body>
</html>