<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:background-image="http://java.sun.com/JSP/Page">
<head>
    <meta charset="UTF-8"/>
    <title>Blood Pressure Diary</title>
<!--    <link rel="stylesheet" href="../static/resources/main.css">-->
<!--    <link rel="stylesheet" href="../static/resources/measurementDetail.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/main.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/measurementDetail.css}"/>
</head>
<body>
<div class="container">
    <div class="logout">
        <form th:action="@{/logout}" method="post">
            <button type="submit">
                <span>Sign Out</span>
                <img src="../static/resources/images/logout.svg" alt="logout">
            </button>
        </form>
    </div>
    <header>
        <h1>Measurements History:</h1>
        <nav>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>RR</th>
                        <th>Pulse</th>
                        <th>Description</th>
                    </tr>
                    <tr th:each="measure : ${measures}">
                        <td th:utext="${measure.getDate()}">...</td>
                        <td th:utext="${measure.getTime()}">...</td>
                        <td th:utext="${measure.getRr()}">...</td>
                        <td th:utext="${measure.getPulse()}">...</td>
                        <td th:utext="${measure.getDescription()}">...</td>
                    </tr>
                </table>
            <div class="buttons">
                <a href="index">Main menu</a>
            </div>
        </nav>
    </header>
</div>
</body>
</html>