<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <title>Blood pressure diary</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"/>
</head>
<body >

<center>
    <h1>Historia pomiarów</h1>
</center>
<br/>
<center>
    <div>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>RR</th>
                <th>Pulse</th>
                <th>Description</th>
            </tr>
            <tr th:each="measure : ${measures}">
                <td th:utext="${measure.getDate()}">...</td>
                <td th:utext="${measure.getTime()}">...</td>
                <td th:utext="${measure.getRr()}">...</td>
                <td th:utext="${measure.getPulse()}">...</td>
                <td th:utext="${measure.getDescription()}">...</td>
            </tr>
        </table>
    </div>
</center>
<br><br><br>
<a href="/setDateRange">Back</a>

<br><br>
<a href="/index">Main menu</a>
</body>
</html>