<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Blood Pressure Diary</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/measurementDetail.css}"/>
    <script type="text/javascript">
    function onButtonClick() {
        let startDate = document.getElementById("sd").value;
        let endDate = document.getElementById("ed").value;
        if (startDate === "" || endDate === "") {
            document.getElementById("sa").innerHTML = "<h2>bad date selected</h2>";
        } else {
            document.getElementById("sa").innerHTML = "<a class = 'paste-button' href=/" + startDate + "/" + endDate + "/measurementsByDate>Show</a>";
            document.getElementById("sb").innerHTML = "<a class = 'paste-button' href=/" + startDate + "/" + endDate + "/toPdf>Import to PDF</a>";
        }
    }
    </script>
</head>
<body>
<div class="container">
    <header>
        <h1>Select Data Range:</h1>
        <nav>
            <form>
                <div><label>start date: </label><input type="date" id="sd"/></div>
                <div><label>end date: </label><input type="date" id="ed"/></div>
                <input class="accept-date-button"
                       type="button"
                       onclick="onButtonClick()"
                       value="Accept">
            </form>
            <div class="buttons">
                <a href="index">Main menu</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="selected-data-content">
            <span id="sa"></span>
            <span id="sb"></span>
        </div>
    </main>
</div>
</body>
</html>