<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Blood Pressure Diary</title>
    <link rel="stylesheet" href="../static/resources/main.css">
    <link rel="stylesheet" href="../static/resources/measurementDetail.css">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/resources/main.css}"/>-->
<!--        <link rel="stylesheet" type="text/css" th:href="@{/resources/measurementDetail.css}"/>-->

</head>
<body>

<div class="container">
    <header>
        <h1>Select Data Range:</h1>
        <nav>
            <form>
                <div><label>start date: </label><input type="date" id="sd"/></div>
                <div><label>end date: </label><input type="date" id="ed"/></div>
                <button onClick="onButtonClick()">Accept</button>
            </form>
            <div class="buttons">
                <a href="index">Main menu</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="selected-data-content">
            <span id="sa"></span>
            <span id="sb"></span>
        </div>
    </main>
</div>
<script type="text/javascript">
    function onButtonClick() {
        let startDate = document.getElementById("sd").value;
        let endDate = document.getElementById("ed").value;
        if (startDate === "" || endDate === "") {
            document.getElementById("sa").innerHTML = "<h2>bad date selected</h2>";
        } else {
            document.getElementById("sa").innerHTML = "<a href=/" + startDate + "/" + endDate + "/measurementsByDate>Show</a>";
            document.getElementById("sb").innerHTML = "<a href=/" + startDate + "/" + endDate + "/toPdf>Import to PDF</a>";
        }
    }
</script>
</body>
</html>